.body {
   background-color: #1b1b1b; 
   margin: 0;
   padding: 0;
   height: 100vh;
   transform: translateY(-50px);
   margin-top: 20px;
   
  }

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h2 {
    font-size: 28px;
    color: rgb(229, 164, 43);
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    color: rgb(246, 204, 125);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 18px;
    color: rgb(238, 230, 215);
    margin-bottom: 10px;
  }
  
  p {
    color: rgb(238, 230, 215);
    line-height: 1.5;
  }
  
  ul {

    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
    color: rgb(188, 186, 183);
  }
  
  ul li:before {
    content: "▹";
    position: absolute;
    left: 0;
    color: rgb(238, 230, 215);
  }
  
  .education {
    margin-bottom: 30px;
  }
  
  .education h4 {
    margin-bottom: 5px;
  }
  
  .education p {
    color: rgb(188, 186, 183);
    margin-bottom: 5px;
  }
  
  /* Additional styles for a more visually appealing look */
  
  /* .about-container {
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .about-container:hover {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  
  h3,
  h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  ul li{
    color:rgb(238, 230, 215);
  }

  ul li:before {
    font-size: 12px;
  }
  
  ul li:last-child {
    margin-bottom: 0;
  } */
  
  /* Mobile-friendly styles */
  
  @media only screen and (max-width: 600px) {
    .about-container {
      padding: 20px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    h4 {
      font-size: 16px;
    }
    
    p {
      font-size: 14px;
    }
  
    ul li:before {
      font-size: 10px;
    }
  }
  


  /* Resume button */

  .frame {
    width: 100%;
    height: auto;
    margin: 5px auto;
    text-align: center;
  }

  button {
    margin: 20px;
  }

  .custom-btn {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(248, 182, 182, 0.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
     outline: none;
  }

  a{
    color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 15px;
    
   
  }

  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #f8f1f1,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }