<body>

<div class="full-screen wf-section">
  <!-- <div class="selfie" ></div> -->
  <div class="texture-overlay"></div>
  <div class="main-title-wrap" >
    <div class="corners-wrap shadow">
      <div class="corner top-left"></div>
      <div class="corner top-right"></div>
      <div class="corner bottom-left"></div>
      <div class="corner bottom-right"></div>
    </div>
    <div class="corners-wrap">
      <div class="corner top-left"></div>
      <div class="corner top-right"></div>
      <div class="corner bottom-left"></div>
      <div class="corner bottom-right"></div>
    </div>
    <div class="subtitle">Hey there! My name is</div>
    <h1 class="main-title small">Esra Brown</h1>
    <div class="subtitle">I am a Web Developer, <br>with a strong focus on Java and Spring Boot projects. <br> My skills encompass Angular, JavaScript, TypeScript, React, HTML, CSS and Bootstrap. <br> I am experienced working with MySQL to develop robust and efficient data management systems. <br> <br>... <strong class="bold-text">to learn more about me ↓ </strong></div>
    <div class="frame">
      <a href="/assets/esrabrown.resume.pdf" target="_blank" download>
        <button class="custom-btn btn-5">Download Resume</button>  
      </a>
    </div>
  </div>
</div>

</body>