<body>

<div class="about-container">
  <div class="about-text" > 
    <h1>About Me</h1>
    <p>Hello, my name is Esra Brown. </p> 
    <p>Originally from Turkiye, I've embraced various cultures while living in Spain and later moving to the United States in pursuit of new opportunities. Throughout my journey, I have explored various career paths, each providing valuable experiences and insights. However, I felt a strong calling towards utilizing my problem-solving skills in a more dynamic and impactful way.</p>
    <p>The combination of my diverse background, problem-solving abilities, and the passion I have found in coding has ignited a deep motivation within me. I am committed to continuous learning, embracing new challenges, and leveraging technology to create innovative solutions.</p>
    <p>With a strong focus on Java and SpringBoot projects, my skills encompass Angular, JavaScript, TypeScript, React, HTML5, CSS3, and Bootstrap. I am experienced in utilizing Thymeleaf and MySQL for building dynamic web applications. Although I have some familiarity with Python, my true passion lies in working with Java SpringBoot projects. Leveraging tools like IntelliJ and Visual Studio Code, along with version control using GitHub, I am dedicated to delivering exceptional results in every project I undertake.</p>
  </div>
    
    <!-- <h3>Education</h3>
    <div class="education" *ngFor="let edu of education">
      <h4>{{ edu.institution }}</h4>
      <p>{{ edu.degree }} | {{ edu.duration }}</p>
    </div>
    
    <h3>Additional Courses</h3>
    <ul>
      <li *ngFor="let course of additionalCourses">{{ course }}</li>
    </ul>
  </div> -->

  <div class="frame">
    <a href="/assets/resume.pdf" target="_blank" download>
      <button class="custom-btn btn-5">Download Resume</button>  
    </a>
  </div>
</div>

</body>
