.body {
   background-color: #1b1b1b; 
   margin: 0;
   padding: 0;
   height: 100vh;
   transform: translateY(-50px);
   margin-top: 20px;
   
  }

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h2 {
    font-size: 28px;
    color: rgb(229, 164, 43);
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    color: rgb(246, 204, 125);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 18px;
    color: rgb(238, 230, 215);
    margin-bottom: 10px;
  }
  
  p {
    color: rgb(238, 230, 215);
    line-height: 1.5;
  }
  
  ul {

    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
    color: rgb(188, 186, 183);
  }
  
  ul li:before {
    content: "▹";
    position: absolute;
    left: 0;
    color: rgb(238, 230, 215);
  }
  
  .education {
    margin-bottom: 30px;
  }
  
  .education h4 {
    margin-bottom: 5px;
  }
  
  .education p {
    color: rgb(188, 186, 183);
    margin-bottom: 5px;
  }
  
  /* Additional styles for a more visually appealing look */
  
  /* .about-container {
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .about-container:hover {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  
  h3,
  h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  ul li{
    color:rgb(238, 230, 215);
  }

  ul li:before {
    font-size: 12px;
  }
  
  ul li:last-child {
    margin-bottom: 0;
  } */
  
  /* Mobile-friendly styles */
  
  @media only screen and (max-width: 600px) {
    .about-container {
      padding: 20px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    h4 {
      font-size: 16px;
    }
    
    p {
      font-size: 14px;
    }
  
    ul li:before {
      font-size: 10px;
    }
  }
  