<div class="body" >

<div class="about-container">
    <h2>About Me</h2>
    <p>Hello, my name is Esra Brown. </p> 
    <p>Originally from Turkiye, I've embraced various cultures while living in Spain and later moving to the United States in pursuit of new opportunities. Throughout my journey, I have explored various career paths, each providing valuable experiences and insights. However, I felt a strong calling towards utilizing my problem-solving skills in a more dynamic and impactful way.</p>
    <p>In September 2022, I was fortunate to be accepted into LaunchCode, a renowned coding program, which marked the beginning of my formal coding education. Since then, I have been fully immersed in the world of programming, constantly expanding my knowledge and honing my skills.</p>
    <p>The combination of my diverse background, problem-solving abilities, and the passion I have found in coding has ignited a deep motivation within me. I am committed to continuous learning, embracing new challenges, and leveraging technology to create innovative solutions.</p>

    
    
    <h3>Education</h3>
    <div class="education" *ngFor="let edu of education">
      <h4>{{ edu.institution }}</h4>
      <p>{{ edu.degree }} | {{ edu.duration }}</p>
    </div>
    
    <h3>Additional Courses</h3>
    <ul>
      <li *ngFor="let course of additionalCourses">{{ course }}</li>
    </ul>
  </div>


  <div class="frame">
    <button class="custom-btn btn-5"><a href="/assets/resume.pdf" target="_blank">Resume  </a>  </button>  
   
  </div>

  <!-- <div class="frame">
   class="custom-btn btn-5">Resume</a>
  </div> -->
  
  
