
<body> 
  <div class="slider-container">
   <div class="slider-container__wrp swiper-wrapper">
    <div class="slider">
      <div class="card-content">
        <div class="slide" *ngFor="let project of projects; let i = index" [class.active]="currentProjectIndex === i">
          <div class="blog-slider__img">
          <img src="{{ project.image }}" alt="{{ project.title }}" class="project-image">
          </div>
          <div class="blog-slider__content" > 
          <div class= "blog-slider__title"> {{ project.title }}</div>
          <div class="blog-slider__text ">{{ project.description }}</div>
          <a *ngIf="i === 0" [href]="project.link" target="_blank" class="blog-slider__button">Visit Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="blog-slider__pagination">
      <span
        *ngFor="let project of projects; let i = index"
        [class.active]="currentProjectIndex === i"
        class="pagination-dot"
        (click)="goToSlide(i)"
      ></span>
    </div>
    <!-- <div class="arrows">
      <span (click)="prevProject()" class="arrow left"></span>
      <span (click)="nextProject()" class="arrow right"></span>
    </div> -->
  </div>
</body> 