<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Slider Blog Card</title>
  </head>
  <body>
    <div class="blog-card">
      <input type="radio" name="select" id="tap-1" checked>
      <input type="radio" name="select" id="tap-2">
      <input type="radio" name="select" id="tap-3">
      <input type="checkbox" id="imgTap">
      <div class="sliders">
        <label for="tap-1" class="tap tap-1"></label>
        <label for="tap-2" class="tap tap-2"></label>
        <label for="tap-3" class="tap tap-3"></label>
      </div>
<div class="inner-part">
        <label for="imgTap" class="img">
          <img class="img-1" src="/assets/first.png" >
        </label>
        <div class="content content-1">
          <!-- <span>add emoji</span> -->
          <div class="title">
Qlean Quotes</div>
<div class="text">
  This full-stack web app for housekeeping includes a secure user login with Spring Security, user profiles and quote history, a cost calculation form, and Square integration for payment and invoicing.</div>
  <button (click)="openLink('https://www.qleanquotes.com/authentication/login')" target="_blank">Check it out!</button>

        </div>
</div>
<div class="inner-part">
        <label for="imgTap" class="img">
          <img class="img-2" src="/assets/second.png">
        </label>
        <div class="content content-2">
          <!-- <span>add emoji</span> -->
          <div class="title">
Tech Jobs</div>
<div class="text">
  Created a Java-based web app using Spring Boot and Thymeleaf, allowing users to browse, search, add, and edit tech job listings with implemented ORM functionality using Spring Data.</div>
<!-- <button>Read more</button> -->
        </div>
</div>
<div class="inner-part">
        <label for="imgTap" class="img">
          <img class="img-3" src="/assets/third.png">
        </label>
        <div class="content content-3">
          <!-- <span>add emoji</span> -->
          <div class="title">
Personal Website</div>
<div class="text">
  The website you are currently viewing has been developed using Angular and TypeScript.</div>
<!-- <button>Read more</button> -->
        </div>
</div>
</div>
</body>
</html>
