

<!-- <nav class="nav">
  <a routerLink="/" class="nav-item" active-color="orange">Home</a>
  <a routerLink="/about" class="nav-item" active-color="green">About</a>
  <a routerLink="/skills" class="nav-item" active-color="blue">Skills</a>
  <a routerLink="/projects" class="nav-item" active-color="red">Projects</a>
  <a routerLink="/contact" class="nav-item" active-color="rebeccapurple">Contact</a>
  <a href="/assets/resume.pdf" class="nav-item" active-color="rebeccapurple" target="_blank">Resume</a>
  <span class="nav-indicator"></span>
</nav> -->


<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </head>
  <nav>
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/about">About me</li>
      <li routerLink="/projects">Projects</li>
      <li routerLink="/skills">Skills</li>
      <li routerLink="/contact" >Contact me</li>
      <li href="#" >Resume</li>

      <li class="slide"></li>
    </ul>
  </nav>

  <!-- <section>
    <div class="title"><span>Esra Brown</span><span><a target="_blanck" href="/">Web Developer</a></span></div>
  </section> -->