
 @import '~@fortawesome/fontawesome-free/css/all.css';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  width: 95%; 
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #0b0b0b;
  padding: 1em 0;
  position: relative;
  font-family: 'Arial', sans-serif;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo #logo-first {
  float: left;
  color: #f7ca18;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
}

.logo #logo-last {
  float: left;
  font-weight: 300;
  font-size: 1rem;
  color: #f2f2f2;
  padding-bottom: 20px;
}

.logo:hover #logo-last {
  margin: 0;
  color: #f7ca18;
}

.logo:hover #logo-first {
  margin: 0;
  padding-bottom: 20px;
  color: #f2f2f2;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #a6a6a6;
  height: 0px;
  overflow: hidden;
  z-index: 1000;
}

.site-nav-open {
  height: auto;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #8c8c8c;
}

.site-nav li:last-child {
  border: none;
}

.site-nav a {
  color: #f2f2f2;
  display: block;
  padding: 1em 1em 1em 0.5em;
  text-transform: uppercase;
  text-decoration: none; 
}

.site-nav a:hover,
.site-nav a:focus {
  background:  #f7ca18;
  color: #4d4d4d;
}

.site-nav-icon  {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1em; 
  text-align: right;  
  color: rgba(255, 255, 255, .35);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 1.7em;
  right: 1em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content:'';
  display: block;
  background:  #f7ca18;
  height: 3px;
  width: 1.75em;
  border-radius: 2px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}

.open .hamburger {
  transform: rotate(45deg);
  background: #f7e28f;
}

.open .hamburger::before {
  opacity: 0;            
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
  background:  #f7e28f;
}

@media (min-width:700px) {

  .menu-toggle { 
      display: none;
  }
  .site-nav {
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      font-weight: 300;
  }
  .site-nav li {
      display: inline-block;
      border: none;
  }
  .site-nav a { 
      padding: 0;
      margin-left: 3em;
  }
  .site-nav a:hover,
  .site-nav a:focus { 
      background: transparent;
      font-weight: 800;
      color:  #f7ca18;
  }
  .site-nav .site-nav-icon {
      display: none;
  }

}