<!-- <nav class="menu-container">
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li>
      <a routerLink="/skills" routerLinkActive="active">Skills</a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
    <li>
      <a href="/assets/resume.pdf" target="_blank">Resume</a>

    </li>
  </ul>
</nav> -->

<nav class="nav">
  <a routerLink="/" class="nav-item" active-color="orange">Home</a>
  <a routerLink="/about" class="nav-item" active-color="green">About</a>
  <a routerLink="/skills" class="nav-item" active-color="blue">Skills</a>
  <a routerLink="/projects" class="nav-item" active-color="red">Projects</a>
  <a routerLink="/contact" class="nav-item" active-color="rebeccapurple">Contact</a>
  <a href="/assets/resume.pdf" class="nav-item" active-color="rebeccapurple" target="_blank">Resume</a>
  <span class="nav-indicator"></span>
</nav>
