.body {
  padding: 40px;
  

 }


.skills-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

  }
  
  h2 {
    font-size: 28px;
    color: #ffcc00;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    color: #555;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
    line-height: 1.5;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #0e0e0e;
  }
  
  ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
  }

  ul li:before {
    content: "▹";
    position: absolute;
    left: 0;
    color: #ff6b6b;
  }


  /* Additional styles for a more visually appealing look */
  
  .skills-container {
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .skills-container:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  
  h3,
  h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  
  ul li:before {
    font-size: 12px;
  }
  
  ul li:last-child {
    margin-bottom: 0;
  }

  
   /* Mobile-friendly styles */
  
   @media only screen and (max-width: 600px) {
    .skills-container {
      padding: 20px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    h4 {
      font-size: 16px;
    }
    
    p {
      font-size: 14px;
    }
  
    ul li:before {
      font-size: 10px;
    }
  } 


  .small_image{
    float: right;
    height: auto;
    width: 300px;
    position: absolute;
    right: 80px;
    top: 10%;
  }
  
 .skills_page{
   background-color: black;
 } 


 :host {
  --hex-width: 100px; 
  --hex-between: 10px;
  
  --hex-height: calc(var(--hex-width) / 1.73);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73);
  --hex-transition: all .2s ease;
  
  --color-hex-default: #000000;
  --color-hex-hover:   #FFFFFF;
  --color-angular:     #DD0031;
  --color-typescript:  #007ACC;
  --color-bootstrap:   #563D7C;
  --color-vscode:      #ede058;
  --color-css:         #1572B6;
  --color-git:         #F14E32;
  --color-springboot:  #6e2323;
  --color-mysql:       #a194c4;
  --color-html:        #E34F26;
  --color-javascript:  #F7DF1E;
  --color-github:      #f56a51;
  --color-python:      #3776AB;
  --color-react:       #4f53c0;
  --color-sass:        #CC6699;
  --color-java:     #343434;
}

/* Hexagons */
.hexagon-container {
  margin-top: 20%;
  display: grid;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}

.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}

.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}

.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}

.hexagon:hover {
  background-color: var(--color-hex-hover);
}

.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
}

.hexagon:nth-child(8n + 5),
.hexagon:nth-child(8n + 6),
.hexagon:nth-child(8n + 7),
.hexagon:nth-child(8n + 8) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon > svg {
  height: 75%;
  transition: var(--hex-transition);
}

/* Colors */
.color-sass {
  background-color: var(--color-sass);
}

.color-sass::after,
.color-sass::before {
  border-top-color: var(--color-sass);
  border-bottom-color: var(--color-sass);
}

.color-sass:hover {
  fill: var(--color-sass);
}

.color-angular {
  background-color: var(--color-angular);
}

.color-angular::after,
.color-angular::before {
  border-top-color: var(--color-angular);
  border-bottom-color: var(--color-angular);
}

.color-angular:hover {
  fill: var(--color-angular);
}

.color-springboot {
  background-color: var(--color-springboot);
} 

.color-springboot::after,
.color-springboot::before {
  border-top-color: var(--color-springboot);
  border-bottom-color: var(--color-springboot);
}

.color-springboot:hover {
  fill: var(--color-springboot);
}

.color-react {
  background-color: var(--color-react);
}

.color-react::after,
.color-react::before {
  border-top-color: var(--color-react);
  border-bottom-color: var(--color-react);
}

.color-react:hover {
  fill: var(--color-react);
}

.color-git {
  background-color: var(--color-git);
}

.color-git::after,
.color-git::before {
  border-top-color: var(--color-git);
  border-bottom-color: var(--color-git);
}

.color-git:hover {
  fill: var(--color-git);
}

.color-html {
  background-color: var(--color-html);
}

.color-html::after,
.color-html::before {
  border-top-color: var(--color-html);
  border-bottom-color: var(--color-html);
}

.color-html:hover {
  fill: var(--color-html);
}

.color-javascript {
  background-color: var(--color-javascript);
}

.color-javascript::after,
.color-javascript::before {
  border-top-color: var(--color-javascript);
  border-bottom-color: var(--color-javascript);
}

.color-javascript:hover {
  fill: var(--color-javascript);
}

.color-java {
  background-color: var(--color-java);
}

.color-java::after,
.color-java::before {
  border-top-color: var(--color-java);
  border-bottom-color: var(--color-java);
}

.color-java:hover {
  fill: var(--color-java);
}

.color-mysql {
  background-color: var(--color-mysql);
}

.color-mysql::after,
.color-mysql::before {
  border-top-color: var(--color-mysql);
  border-bottom-color: var(--color-mysql);
}

.color-circleci:hover {
  fill: var(--color-circleci);
}

.color-webpack {
  background-color: var(--color-webpack);
}

.color-webpack::after,
.color-webpack::before {
  border-top-color: var(--color-webpack);
  border-bottom-color: var(--color-webpack);
}

.color-webpack:hover {
  fill: var(--color-webpack);
}

.color-css {
  background-color: var(--color-css);
}

.color-css::after,
.color-css::before {
  border-top-color: var(--color-css);
  border-bottom-color: var(--color-css);
}

.color-css:hover {
  fill: var(--color-css);
}

.color-python {
  background-color: var(--color-python);
}

.color-python::after,
.color-python::before {
  border-top-color: var(--color-python);
  border-bottom-color: var(--color-python);
}

.color-python:hover {
  fill: var(--color-python);
}

.color-vscode {
  background-color: var(--color-vscode);
}

.color-vscode::after,
.color-vscode::before {
  border-top-color: var(--color-vscode);
  border-bottom-color: var(--color-vscode);
}

.color-vscode:hover {
  fill: var(--color-vscode);
}

.color-bootstrap {
  background-color: var(--color-bootstrap);
}

.color-bootstrap::after,
.color-bootstrap::before {
  border-top-color: var(--color-bootstrap);
  border-bottom-color: var(--color-bootstrap);
}

.color-bootstrap:hover {
  fill: var(--color-bootstrap);
}

.color-typescript {
  background-color: var(--color-typescript);
}

.color-typescript::after,
.color-typescript::before {
  border-top-color: var(--color-typescript);
  border-bottom-color: var(--color-typescript);
}

.color-typescript:hover {
  fill: var(--color-typescript);
}

.color-github {
  background-color: var(--color-github);
}

.color-github::after,
.color-github::before {
  border-top-color: var(--color-github);
  border-bottom-color: var(--color-github);
}

.color-github:hover {
  fill: var(--color-github);
}
