
 body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
  bottom:0;
  left:0;
  position:fixed;
  right:0;
  top:0;
  z-index:-1;
}

::selection {
  background-color: #f7ca18;
  color: #1b1b1b;
}

.home {
  align-items: center;
  display: flex;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.25vw;
  text-transform: uppercase;
  overflow: hidden;
  text-align: justify;
  margin: 0;
  margin-left: 10%;
}

.home .home-content .text-1 {
  font-size: 25px;
  color: #f7ca18;
  margin-left: 3px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  margin-bottom: 5px;
}

.home .home-content .text-3 {
  font-size: 16px;
  margin: 5px 0;
  margin-left: 5px;
}

.buttonContainer {
  display: inline-block;
  position: absolute;
  padding: 0;
  margin-top: 3%;
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: transform 60ms;
  transition: all 0.3s ease;
  left: 5%;
}

.buttonContainer:active {
  transform: scale(0.65);
}
.button {
  font-family: "Cosi Azure";
  position: relative;
  background-color: transparent;
  border-radius: 50px;
  border: 0;
  box-shadow: 0px 2.4px 2.2px rgba(0, 0, 0, 0.042),
    0px 5.1px 5.3px rgba(0, 0, 0, 0.061), 0px 8.8px 10px rgba(0, 0, 0, 0.075),
    0px 15.4px 17.9px rgba(0, 0, 0, 0.089),
    0px 30.6px 33.4px rgba(0, 0, 0, 0.108), 0px 100px 80px rgba(0, 0, 0, 0.15);
  color: #303641;
  cursor: pointer;
  font-size: 30px;
  height: 104px;
  left: 50px;
  top: 35px;
  width: 380px; 
}
.effect {
  position: absolute;
}
.sprites {
  animation: Circut 4s linear infinite;
  offset-path: path(
    "m 102,40.267155 h 275.99997 c 25.89,0 46.73285,20.842849 46.73285,46.732845 0,25.89 -20.84285,46.73285 -46.73285,46.73285 H 102 C 76.110005,133.73285 55.267155,112.89 55.267155,87 55.267155,61.110004 76.110005,40.267155 102,40.267155 Z"
  );
  transform: rotate(90deg);
}

@keyframes Circut {
  to {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes animateScale {
  0% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.2);
  }
}

.sprite1 {
  animation: animateScale 5s infinite;
  animation-delay: 0s;
  fill: #d7d5de;
}

.sprite2 {
  animation: animateScale 5s infinite;
  animation-delay: 0.2s;
  fill: #ebdfcf;
}

.sprite3 {
  animation: animateScale 5s infinite;
  animation-delay: 0.4s;
  fill: #eff1f4;
}

.sprite4 {
  animation: animateScale 5s infinite;
  animation-delay: 0.6s;
  fill: #fff;
}

.work_img{
  opacity: 0.3;
  margin: 0;
  bottom: 14%;
  transform: scale(1.2);
  display: inline-block;
  position: absolute;
  right: 20%;
  transform-origin: 50% 50%;
  transition: transform 60ms;
  transition: all 0.3s ease;
 }

 .work_img:hover{
  animation: shake 0.5s; 
  animation-iteration-count: infinite;
 }

 @keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .home{
    text-align: justify;
    padding: 0;
    margin: 0;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .home .home-content .text-1 {
    font-size: 20px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 13px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
}

@media only screen and (max-width: 768px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .home{
    text-align: justify;
    padding: 0;
    margin: 0;
  }
  .home .home-content .text-1 {
    font-size: 20px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 13px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home{
    text-align: justify;
    padding: 0;
    margin: 0;
  }
  .home .home-content .text-1 {
    font-size: 22px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 15px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .buttonContainer{
    justify-content: center;
    align-items: center;
    margin-top: 25%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(6, 6, 6) 50%, #1b1b1b 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:8s;
}

.bg3 {
  animation-duration:8s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}