body {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  
  &, * {
    cursor: none;
  }
}

.shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #2128bd;
  overflow: hidden;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
  
}
.shape.shape-1 {
  background: #005ffe;
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}

.shape.shape-2 {
  background: #ffe5e3;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}

.shape.shape-3 {
  background: #ffcc57;
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.content {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column; /* Added */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: white;
  mix-blend-mode: screen;
}

h1 {
  font-size: 85px;
  font-weight: 200;
  color: #000;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 50px;
  font-weight: 200;
  color: rgb(49, 2, 171);
  text-align: justify;
}


h1:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

h2:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.cursor {
  position: fixed;
  background: #2128bd;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

::selection {
  color: #fff;
  background: #2128bd;
}

.work_img{
  position: absolute;
  display: flex;
  right: 15%;
  bottom: 0;
  max-width: 100%;
  min-height: auto;
 }

 .work_img:hover{
  animation: shake 0.5s; 
  animation-iteration-count: infinite;
 }

 @keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

