
 body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
}

::selection {
  background-color: #f7ca18;
  color: #1b1b1b;
}

.home {
  align-items: center;
  display:flex;
  height: 90vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.25vw;
  text-transform: uppercase;
  overflow: hidden;
  text-align: justify;
  margin: 0;
  margin-left: 10%;
}

.home .home-content .text-1 {
  font-size: 20px;
  color: #f7ca18;
  margin-left: 3px;
  margin-top: 7%;
}

.home .home-content .text-2 {
  font-size: 55px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 12px;
  margin: 5px 0;
  margin-left: 5px;
  margin-top: 3px;
}

.buttonContainer {
  display: inline-block;
  position: absolute;
  padding: 0;
  margin-top: 5%;
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: transform 60ms;
  transition: all 0.3s ease;
  left: 5%;
}

.buttonContainer:active {
  transform: scale(0.65);
}
.button {
  font-family: "Cosi Azure";
  position: relative;
  background-color: transparent;
  border-radius: 50px;
  border: 0;
  box-shadow: 0px 2.4px 2.2px rgba(0, 0, 0, 0.042),
    0px 5.1px 5.3px rgba(0, 0, 0, 0.061), 0px 8.8px 10px rgba(0, 0, 0, 0.075),
    0px 15.4px 17.9px rgba(0, 0, 0, 0.089),
    0px 30.6px 33.4px rgba(0, 0, 0, 0.108), 0px 100px 80px rgba(0, 0, 0, 0.15);
  color: #303641;
  cursor: pointer;
  font-size: 30px;
  height: 104px;
  left: 50px;
  top: 35px;
  width: 380px; 
}
.effect {
  position: absolute;
}
.sprites {
  animation: Circut 4s linear infinite;
  offset-path: path(
    "m 102,40.267155 h 275.99997 c 25.89,0 46.73285,20.842849 46.73285,46.732845 0,25.89 -20.84285,46.73285 -46.73285,46.73285 H 102 C 76.110005,133.73285 55.267155,112.89 55.267155,87 55.267155,61.110004 76.110005,40.267155 102,40.267155 Z"
  );
  transform: rotate(90deg);
}

@keyframes Circut {
  to {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes animateScale {
  0% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.2);
  }
}

.sprite1 {
  animation: animateScale 5s infinite;
  animation-delay: 0s;
  fill: #d7d5de;
}

.sprite2 {
  animation: animateScale 5s infinite;
  animation-delay: 0.2s;
  fill: #ebdfcf;
}

.sprite3 {
  animation: animateScale 5s infinite;
  animation-delay: 0.4s;
  fill: #eff1f4;
}

.sprite4 {
  animation: animateScale 5s infinite;
  animation-delay: 0.6s;
  fill: #fff;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(6, 6, 6) 50%, #1b1b1b 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:8s;
}

.bg3 {
  animation-duration:8s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@media (max-width: 768px) {
  .buttonContainer{
    margin-top: 8%;
    transform: scale(0.4); 
  }
  .home {
    align-items: center;
    display:flex;
    height: 80vh;
    overflow: hidden;
    text-align: justify;
    margin-left: 10%;
  }
  .home .home-content .text-1{
    font-size: 16px;
  }
  .home .home-content .text-2 {
    font-size: 35px;
  }

  .home .home-content .text-3 {
    font-size: 10px;
  }
}
